input {
  beats {
    port => <nnnn>
    ssl => false
  }
}
filter {
    ruby {
       code => 'event.set("[@metadata][now]", Time.new.strftime("%Y.%m.%d") )'
    }
    ruby {
       code => 'event.set("[incomingtime]", Time.new.strftime("%Y-%m-%d %H:%M:%S.%L" ) )'
    }
    ruby {
       code => "
         source_path = event.get('[log][file][path]') || event.get('[source]') || ''
         event.set('[@metadata][source_path]', source_path)
         filename = File.basename(source_path)
         filename = 'unknown' if filename.nil? || filename.empty? || filename == '.'
         event.set('[@metadata][filename]', filename)
         instance_id = event.get('[fields][instance-id]')
         instance_id = event.get('[host][name]') if instance_id.nil? || instance_id.empty?
         instance_id = 'unknown' if instance_id.nil? || instance_id.empty?
         event.set('[@metadata][instance_id]', instance_id)
       "
    }
  if "cloud-init-output.log" not in [@metadata][source_path] {
    grok {
	match => { "message" => [
				"(?<zeit>\d\d\d\d \d\d:\d\d:\d\d,\d\d\d)",    #TM_LTBW timereq.log 127.0.0.1 0616 15:59:35,667 tm-ltbw 01 : 1
				"(?<zeit>^\d\d\d\d\d\d\d\d \d\d\d\d\d\d \d\d\d)",   #vl timer log 20200616 155754 998 VLa 0 242 EVAa 0 164
				"(?<zeit>\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d)",  #tt_log $localdns 2020-06-18 13:00:38 "POST /fcgi-bin/vf-fcgi/run/bin
				"\[%{HTTPDATE:zeit}\]",   #apache access_log 10.105.38.203 - - [15/Jun/2020:09:41:49 +0200] "GET /fcg
				"(?<zeit>\w\w\w \w\w\w (\d\d|\d) \d\d:\d\d:\d\d.\d\d\d\d\d\d \d\d\d\d)" #Apache Error  [Mon Jun 15 09:41:48.569536 2020] [mpm_prefork:notice] [pid 7549] AH00163:  

           	   		]      
	} 
    }


    if "error_log" in [@metadata][source_path] and [fields][dataType] == "apache" {
	mutate {
        	gsub => ["zeit", ".\d\d\d\d\d\d", "" ]# Milisekunden in error_log timestamp löschen Mon Jun 15 09:41:48.569536
 	}	
    }

    date {
        locale => "en"
        match => ["zeit", 
			"MMdd HH:mm:ss,SSS", #TM_LTBW timereq.log
			"yyyyMMdd HHmmss SSS", #vl timer log
                        "EEE MMM  d HH:mm:ss yyyy", #apache error log      
                        "EEE MMM dd HH:mm:ss yyyy", #apache error log
			"d'/'MMM'/'yyyy':'HH:mm:ss Z",     #apache access log
			"dd'/'MMM'/'yyyy':'HH:mm:ss Z",    #apache access log
			"yyyy-M-d HH:mm:ss"	   #tt_log
                 ]
        timezone => "Europe/Berlin"
        target => "@timestamp"
   }
   mutate { remove_field => [ "zeit","beat"] }
  }
}


output {
     file {
       path => "/opt/logstash/logfiles/%{[fields][teilverfahren]}/%{[fields][dataType]}/%{[@metadata][now]}/%{[fields][environment]}-%{[host][name]}-%{[@metadata][instance_id]}-%{[@metadata][filename]}.gz"
       codec => line { format => "%{message}" }
       flush_interval => 0
       gzip => true
     }
     
}
